/* .Details {
    margin-top: 15px;
    font-family: 'Poppins' sans-serif;
    background-color: hsl(228, 10%, 10%);
    color: rgb(217, 217, 217);
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 10px;
    border-radius: 20px;
} */

.Details {
    text-align: center;
    margin-top:4%;
    font-family: 'Poppins' sans-serif;
    align-self: center;
    width: 70%;
    min-height: 150px;
    background: rgba( 255, 255, 255, 0.12 );
    box-shadow: 0 5px 15px 0 rgba(112, 112, 112, 0.37);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
    padding: 1.5rem;
    color: hsl(220, 0%, 70%);
}

.Details h1 {
    margin-bottom: 35px;
    color: hsl(220, 7%, 95%);
    transition: all 0.5s;
}

.Details h1:hover {
    transform: scale(1.06);
    color: hsl(116, 50%, 38%);
}

.container{
    display: flex;
    flex-direction: row;
    align-self: center;
}

.Details article {
    display: flex;
    padding: 15px;
    transition: all 0.2s;
}

.Details article:hover {
    background-color: hsl(252, 5%, 19%);
    border-radius: 10px;
    color: hsl(220, 7%, 95%);
    transform: scale(1.01);
}

.Details img {
    width: 400px;
    scale: 0.9;
    margin-left: 17px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1.5s ease;
    transition: transform 1.5s ease;
}

.imageContainer{
    transform: translateY(-15px);
}

.infoContainer{
    padding-top: 30px;
    width: 65%;
}

.Details img:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}

.propiedad {
    text-align: left;
    margin-left: 6%;
    width: 44%;
}

.selfprop {
    text-align: right;
    margin-right: 6%;
    width: 43%;
    align-self: end;
}

