.material-icons {
    font-family: 'Material Icons';
    color: hsl(220, 7%, 91%);
    opacity: 50%;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

#clsBut .material-icons {
    font-family: 'Material Icons';
    font-size: 24px;
    color: rgb(17, 17, 17);
    opacity: 90%;
    font-weight:600;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}